@model IEnumerable<MessageHub.Models.Message>
@{
    ViewBag.Title = "Mine";
}

<h2>My Messages</h2>
<ul class="messages voffset4">
    @foreach (var message in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @message.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @message.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @message.Artist
                </span>
                <span class="artist">
                    @message.Venue
                </span>
                <span class="genre">
                    @message.Genre.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Messages", new {id = message.Id})">Edit</a>
                    <a href="@Url.Action("Delete", "Messages", new {id = message.Id})">Delete</a>
                </div>
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-message").click(function (e) {
                var link = $(e.target);
                var dialog = bootbox.dialog({
                    title: 'Confirm',
                    message: "<p>Are you sure you want to delete this message?</p>",
                    no: {
                        cancel: {
                            label: "No",
                            className: 'btn-default',
                            callback: function(){
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function(){
                                $.ajax({
                                        url: "/api/messages/" + link.attr("data-message-id"),
                                        method: "DELETE"
                                    })
                                    .done(function () {
                                        link.parents("li").fadeOut(function () {
                                            $(this).remove();
                                        });

                                    })
                                    .fail(function () {
                                        alert("Something failed!");
                                    });
                            }
                        }       
                    }
                });
            });
        });
    </script>
}


